<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vms.ykt">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CONTACTS"/><!-- 读取手机联系人权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <meta-data
        android:name="design_width_in_dp"
        android:value="350"/>
    <meta-data
        android:name="design_height_in_dp"
        android:value="700"/>

    <meta-data
        android:name="xposedmodule"
        android:value="true" />


    <meta-data
        android:name="xposeddescription"
        android:value="HookDog" />


    <meta-data
        android:name="xposedminversion"
        android:value="82" />


    <meta-data
        android:name="android.max_aspect"
        android:value="4.0"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="true"
        android:resizeableActivity="false"
        android:networkSecurityConfig="@xml/networkconf"
        android:usesCleartextTraffic="true"
        android:name="com.vms.ykt.XuanRan.Exception.Handing.XuanRanApplication"
        android:theme="@style/Theme.VmsZjy">

        <activity
            android:theme="@style/Theme.VmsZjy"
            android:name="com.vms.ykt.UI.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:name="com.vms.ykt.XuanRan.Exception.Handing.ExceptionActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:name="com.vms.ykt.UI.yktMainActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="zjy"
            android:name="com.vms.ykt.UI.Activity.zjyActivity.zjy_shukeActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="zjy"
            android:name="com.vms.ykt.UI.Activity.zjyActivity.zjy_DayTeachActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="zjy"
            android:name="com.vms.ykt.UI.Activity.zjyActivity.zjy_keHouActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="zjy"
            android:name="com.vms.ykt.UI.Activity.zjyActivity.zjy_workActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="zjy"
            android:name="com.vms.ykt.UI.Activity.zjyActivity.zjy_workAnswActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="zjy"
            android:name="com.vms.ykt.UI.Activity.zjyActivity.zjy_examActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="zjy"
            android:name="com.vms.ykt.UI.Activity.zjyActivity.zjy_examAnswActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="zjy"
            android:name="com.vms.ykt.UI.Activity.zjyActivity.zjy_examDoActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="zjy"
            android:name="com.vms.ykt.UI.Activity.zjyActivity.zjy_courseHdActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="zjy"
            android:name="com.vms.ykt.UI.Activity.zjyActivity.zjy_testAnswActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="mooc"
            android:name="com.vms.ykt.UI.Activity.moocActivity.mooc_shuakeActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="mooc"
            android:name="com.vms.ykt.UI.Activity.moocActivity.mooc_moreUserSkActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="mooc"
            android:name="com.vms.ykt.UI.Activity.moocActivity.mooc_testActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="mooc"
            android:name="com.vms.ykt.UI.Activity.moocActivity.mooc_workActivity">
        </activity>

        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="mooc"
            android:name="com.vms.ykt.UI.Activity.moocActivity.mooc_examActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="mooc"
            android:name="com.vms.ykt.UI.Activity.moocActivity.mooc_AnswActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="mooc"
            android:name="com.vms.ykt.UI.Activity.moocActivity.mooc_DoAnswActivity">
        </activity>
        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="icve"
            android:name="com.vms.ykt.UI.Activity.icveActivity.icve_shukeActivity">
        </activity>

     <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="icve"
            android:name="com.vms.ykt.UI.Activity.icveActivity.icve_moreUserSkActivity">
        </activity>

        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="icve"
            android:name="com.vms.ykt.UI.Activity.icveActivity.icve_workExamActivity">
        </activity>


        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="icve"
            android:name="com.vms.ykt.UI.Activity.icveActivity.icve_AnswActivity">
        </activity>


        <activity
            android:theme="@style/Theme.VmsZjy"
            android:launchMode="singleTop"
            android:label="icve"
            android:name="com.vms.ykt.UI.Activity.icveActivity.icve_DoAnswActivity">
        </activity>

        <activity
            android:theme="@style/Theme.VmsZjy"
            android:label="cqooc"
            android:launchMode="singleTop"
            android:name="com.vms.ykt.UI.Activity.cqoocActivity.cqooc_shuakeActivity">
        </activity>

    <activity
            android:theme="@style/Theme.VmsZjy"
            android:label="cqooc"
            android:launchMode="singleTop"
            android:name="com.vms.ykt.UI.Activity.cqoocActivity.cqooc_moreUserSkActivity">
        </activity>

    <activity
            android:theme="@style/Theme.VmsZjy"
            android:label="cqooc"
            android:launchMode="singleTop"
            android:name="com.vms.ykt.TestActivity.testActivity">
        </activity>


    </application>

</manifest>